body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-navfoot {
  background-color: #000000;
  color: #ffffff;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: middle;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.navfoot-items {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
footer p {
  margin: 0;
}
.container {
  min-height: 100vh;
}
ul {
  list-style: none;
  padding-left: 0;
}
footer {
  text-align: center;
}
a {
  text-decoration: none;
}
article {
  margin-bottom: 2rem;
}
.bg-myblack {
  background-color: #000000;
}
.btn-myblack {
  background-color: #000000;
}
.border-myblack {
  border: 1px solid #000000;
}
