body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer p {
  margin: 0;
}
.container {
  min-height: 100vh;
}
ul {
  padding-left: 0.5rem;
  list-style-type: "✔️ ";
}
footer {
  text-align: center;
}
a {
  text-decoration: none;
}
article {
  margin-bottom: 2rem;
}
.bg-myblack {
  background-color: #000000;
}
.btn-myblack {
  background-color: #000000;
}
.border-myblack {
  border: 1px solid #000000;
}
